---
title: GitHub Pages Dokumentation
description: Deutsche GitHub Pages Dokumentation
---
<!DOCTYPE html>
<html lang="de">
	<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#" itemscope itemtype="http://schema.org/WebPage">
		<meta charset="utf-8">
		<meta name="robots" content="index,follow,noodp,noydir">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{{ page.description }}">
		<meta name="publisher" content="Dirk Einecke">
		<meta property="og:site_name" content="{{ page.title }}">
		<meta property="og:title" content="{{ page.title }}">
		<meta itemprop="name" content="{{ page.title }}">
		<meta property="og:description" content="{{ page.description }}">
		<meta itemprop="description" content="{{ page.description }}">
		<meta name="twitter:card" content="summary">
		<meta name="twitter:url" content="">
		<meta name="twitter:title" content="{{ page.title }}">
		<meta name="twitter:description" content="{{ page.description }}">
		<meta property="og:type" content="website">
		<meta property="og:url" content="">
		<link rel="alternate" hreflang="de" href="">
		<link rel="canonical" href="">
		<title>{{ page.title }}</title>
		<link href="https://fastcdn.org/Bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://fastcdn.org/Font-Awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="https://fastcdn.org/HTML5-Shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://fastcdn.org/Respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		{% include header.html %}
		{% include footer.html %}
		
		<script src="https://fastcdn.org/jQuery/1.11.3/jquery.min.js"></script>
		<script src="https://fastcdn.org/Bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
	</body>
</html>
